# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Segredos — NUNCA commitar
.env
secrets/
*.json

# Exceção: arquivos json que não são segredos
!dbt/profiles.yml

# Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid
standalone_admin_password.txt
unittests.cfg

# dbt
dbt/target/
dbt/dbt_packages/
dbt/.user.yml

# Power BI
*.pbix

# OS
.DS_Store
Thumbs.db
